<div class="col-md-10">
  <div class="row">
    <div class="col-md-12">
      {{review.title}} - {{reviewStars review.rating}}
    </div>
    <div class="col-md-12">
      {{review.author}} - {{review.date}}
    </div>
    <div class="col-md-12">
      {{review.body}}
    </div>
  </div>
</div>
