<div class="col-sm-12 review-tile-border">
  <div class="row">
    <div class="col-sm-12">
      <span class="review-tile-title">{{review.title}}</span> - <span class="review-tile-rating">{{reviewStars review.rating}}</span>
    </div>
    <div class="col-sm-12">
      <span class="review-tile-author">{{review.author}}</span> - <span class="review-tile-date">{{review.date}}</span>
    </div>
    <div class="col-sm-12">
      <span class="review-tile-body">{{review.body}}</span>
    </div>
  </div>
</div>
